@use 'variables' as v;

#title {
    display: flex;
    justify-content: center;
    background-color: v.$company-color;
    @media (min-width: v.$desktop) {
        background-color: black;
    }
#who-we-are-title {
    width: 93vw;
    max-width: 1000px;
    #wwat-text {
        font-size: 35px;
        font-weight: 700;
    }
}
}
#wwa-container-grid {
    display: grid;
    place-content: center;
    background-color: white;
    #container-flex-wwai {
        max-width: 1000px;
        padding: 70px 30px 75px 30px;
    }
}
#who-we-are-information {
background-color: white;

    p:first-child {
        color: v.$company-color;
        font-weight: 800;
        font-size: 23px;
        padding-bottom: 20px;
    }
    p:last-child {
        color: black;
        font-weight: 500;
        font-size: 18.5px;
    }
}