@use 'variables' as v;

#title {
    display: flex;
    justify-content: center;
    background-color: v.$company-color;
    @media (min-width: v.$desktop) {
        background-color: black;
    }
#contact-us-title {
    width: 93vw;
    max-width: 1000px;
    #contact-us-text {
        font-size: 35px;
        font-weight: 700;
    }
}
}
#contact-us-container-grid {
    display: grid;
    place-content: center;
    background-color: white;
    #contact-us-inner-grid {
        max-width: 1000px;
        padding: 70px 30px 75px 30px;
        width: 300px;
    }
}