@use 'variables' as v;

@-webkit-keyframes moving_arrow {
    0% { 
        left: 0px;
    }
    50% {
        left: 5px;
    }
    100% {
        left: 0px;
    }

}

@keyframes moving_arrow {
    0% { 
        left: 0px;
    }
    50% {
        left: 5px;
    }
    100% {
        left: 0px;
    }

}

#featured-projects-header-flex-container-div {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
}
#featured-container {
    height: 520px;
    width: 100%;
    background: #033f60;
    @media (min-width: v.$desktop) {
        height: 500px;
    }
}

#featured-projects-title {
    font-size: 20px;
    font-weight: bolder;
}

#featured-projects-view-more {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    font-size: 20px;
    font-weight: bolder;
}

#information-container-projects-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
}

#img-container {
    height: 350px;
    margin-bottom: 10px;
    width: 100%; 
    background: black; 
    img {
        height: 350px;
        width: 100%;
        position: relative;
        -webkit-transform: rotate(0);
                transform: rotate(0);
    }
}

#information-container-projects {
    width: 92%;
}

#featured-projects-header-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: start;
            justify-content: start;
    width: 1440px;
    padding-top: 20px;
    padding-bottom: 20px;
    #featured-projects-title {
       width: 300px;
       font-weight: 900;
       padding-left: 7.5%;
       @media (min-width: v.$desktop) {
        padding-left: 10px;
    }
    }
    @media (min-width: v.$desktop) {
        -webkit-justify-content: space-around;
                justify-content: space-around;
        gap: 38%;
    }
    @media (min-width: 1442px) {
        -webkit-justify-content: space-around;
                justify-content: space-around;
        gap: 410px;
    }
}

#view-container {
    display: none;
    font-weight: 900;
    @media (min-width: v.$desktop) {
        display: block;
    }
    span {
        svg {
            position: relative;
            -webkit-animation: moving_arrow 3s infinite;
                    animation: moving_arrow 3s infinite;
        }
    }
}
#view-container-mobile {
    font-weight: 900;
    display: block;
    @media (min-width: v.$desktop) {
        display: none;
    }
    #featured-projects-view-more {
        -webkit-box-pack: end;
        -webkit-justify-content: end;
                justify-content: end;
        padding-top: 15px;
        padding-right: 6%;
    }
    span {
        svg {
            position: relative;
            -webkit-animation: moving_arrow 3s infinite;
                    animation: moving_arrow 3s infinite;
        }
    }
}

.slide-number {
    font-weight: 900;
    font-size: 30px;
}

#title-container-featured {
    font-weight: bold;
}

#location-cotainer {
    font-weight: 500;
}

.splide {
    width: 1200px;
}