@use 'variables' as v;

.fixed_menu {
    
}

#svg-icon-container {
    position: absolute;
    top: 17px;
    right: 20px;
    :hover {
        cursor: pointer;
    }
}

.company_color  {
    background: v.$company-color;
}

.black {
    background: black;
}

.transparent {
    background: '';
}

.rotateDown {
    transform: rotate(180deg);
}

.rotateUp {
    transform: rotate(0deg);
}

@-webkit-keyframes menuOpen {
    from {
        height: 60px;
        background-color: '';
    }
    to {
        height: 400px;
        background-color: v.$company-color;
    }
}

@keyframes menuOpen {
    from {
        height: 60px;
        background-color: '';
    }
    to {
        height: 400px;
        background-color: rgba(3, 63, 96);
    }
}

@-webkit-keyframes menuClose {
    from {
        height: 400px;
        background-color: #033f60;
    }
    to {
        height: 60px;
    }
}

@keyframes menuClose {
    from {
        height: 400px;
        background-color: #033f60;
    }
    to {
        height: 60px;
        background-color: '';    
}
}

@-webkit-keyframes menuShow {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    to {
        opacity: 100%;

    }
}

@keyframes menuShow {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 0%;
    }

    to {
        opacity: 100%;

    }
}

@-webkit-keyframes menuHide {
    0% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    100% {
    }
}

@keyframes menuHide {
    0% {
        opacity: 100%;
    }

    20% {
        opacity: 0%;
    }

    100% {

    }
}

@-webkit-keyframes lineAnimationStart {
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}

@keyframes lineAnimationStart {
    0% {
        width:0;
    }
    100% {
        width:100%;
    }
}
@-webkit-keyframes lineAnimationEnd {
    0% {
        width:100%;
    }
    100% {
        width:0;
    }
}
@keyframes lineAnimationEnd {
    0% {
        width:100%;
    }
    100% {
        width:0;
    }
}

header {
    position: relative;
    z-index: 99;
}

#line-container {
    display: none;
    // LINE DISAPEARS WIDTH < MOBILE
    @media (min-width: v.$desktop) {
        background: white;
        height: 1px;
        width: 100%;
        display: block;
    }
}
#mobile-nav-2 {
    overflow: hidden;
    z-index: 5;
    background-color: #033f60;
    display: none;
    #mobile-nav-menu {
        display: grid;
        position: absolute;
        top: 27%;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 20px;
        padding-left: 25px;
        gap: 20px;
        li {
            font-size: 23px;
            font-weight: 800;
        }
    }
    @media (max-width: calc(v.$desktop - 1px)) {
        display: block;
        margin-left: 2%;
        margin-right: 2%;
        position: fixed;
        height: 60px;
        width: 96%;
        -webkit-border-radius: 30px;
                border-radius: 30px;
        bottom: 2%;
        z-index: 98;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
}
#mobile-nav {
    overflow: hidden;
    display: none;
    #cascadia-mobile {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        display: inline-block;
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
        img {
            display: inline;
            position: relative;
            top: 35px;
            left: -8px;
        }
    }
    img {
        display: none;
    }
    #menu-button-container {
        display: none;
    }
    @media (max-width: calc(v.$desktop - 1px)) {
        margin-left: 2%;
        margin-right: 2%;
        display:block;
        position: fixed;
        height: 60px;
        width: 96%;
        background-color: v.$company-color;
        -webkit-border-radius: 50px;
                border-radius: 50px;
        bottom: 2%;
        z-index: 101;
        -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    #svg-icon-container {
        svg {
            transition: transform 0.05s linear;
        }
    }
}

#top-nav {
    display: none;
    // TOP-NAV DISAPEARS WIDTH < desktop
    // only tablet
    @media (min-width:v.$desktop) {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    z-index: 99;
    position: relative;
    #email-us-container {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        margin-left: 20px;
        font-weight: 600;
    }
    #follow-us-container {
        display: none;
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        @media (min-width: v.$desktop) {
            font-weight: 600;
            display: block;
        }
    }
    #instagram-logo-container {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        margin-right: 20px;
        #instagram-logo-a {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                    align-items: center;
        }
    }

    #spacer {
        width: 400px;
    }
    
    #spacer2 { 
        width: 10px;
        min-width: 10px;
    }
}
}

#main-nav {
    background: '';
    display: none;
    @media (min-width:v.$desktop) {
    height: 100px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    #cascadia {
        min-width: -webkit-fit-content;
        min-width: -moz-fit-content;
        min-width: fit-content;
        display: inline-block;
        -webkit-transform: translateY(-80px);
                transform: translateY(-80px);
        img {
            display: inline;
            position: relative;
            left: 5px;
        }
    }
    #nav-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        gap: 67px;
        font-weight: bold;
        margin-right: 48px;
        li {
            font-weight: 900;
            margin-top: 40px;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
        }
        li:last-child {
            margin-top: 30px;
        }
        li:last-child p {
            padding: 10px;
            -webkit-border-radius: 10px;
                    border-radius: 10px;
            border-style: solid;
            border-width: 1.5px;
            border-color: white;
        }
        li:last-child:hover {
            cursor: pointer;
            -webkit-border-radius: 10px;
                    border-radius: 10px;
            -webkit-animation: contact-hover 0.3s linear forwards;
                    animation: contact-hover 0.3s linear forwards;
        }
    }
    li div {
        height: 2px;
        background-color: #ffffff;
        width: 0px;
    }
}
}

@-webkit-keyframes contact-hover {
    from {
        -webkit-border-radius: 10px;
                border-radius: 10px;
    }
    to {
        -webkit-border-radius: 10px;
                border-radius: 10px;
        border-color: v.$company-color;
        background-color: v.$company-color;
    }
}

@keyframes contact-hover {
    from {
        -webkit-border-radius: 10px;
                border-radius: 10px;
    }
    to {
        -webkit-border-radius: 10px;
                border-radius: 10px;
        border-color: v.$company-color;
        background-color: v.$company-color;
    }
}

@-webkit-keyframes contact-hover-reverse {
    from {
        border-color: v.$company-color;
        background-color: v.$company-color;
    }
    to {
    }
}

@keyframes contact-hover-reverse {
    from {
        border-color: v.$company-color;
        background-color: v.$company-color;
    }
    to {
    }
}

#spacer3 {
    width: 170px;
}
@media (max-width: 1057px) {
    #spacer3 {
        width: 13%;
    }
}