---
import '../styles/projectslide.scss'
import '../styles/default.scss'
const {images, featured} = Astro.props;

---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"/>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide-extension-grid@0.4.1/dist/js/splide-extension-grid.min.js" integrity="sha256-l7eXiSofMCMpOBYpj9znCTM46MCE5nIP50pySV6W9lY=" crossorigin="anonymous"></script>
<script type="module">
    import Splide from 'https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/+esm';
    document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide', {
    perPage: 1,
    grid: 
    {
                rows: 2,
                cols: 2,
                gap: {
                    row: '250px',
                    col: '50px',
                },
    },
    breakpoints: {
        320: {
            type: 'loop',
            grid: {
                rows: 2,
                cols: 1,
                gap: {
                    row: '280px',
                    col: '2px',
                }
            },
            perPage: 1,
            padding: {left: 10, right: 0},
        },
        350: {
            type: 'loop',
            grid: {
                rows: 2,
                cols: 1,
                gap: {
                    row: '300px',
                    col: '5px',
                }
            },
            perPage: 1,
            padding: {left: 5, right: 5},
        },
        410: {
            type: 'loop',
            grid: {
                rows: 2,
                cols: 1,
                gap: {
                    row: '300px',
                    col: '2px',
                }
            },
            perPage: 1,
            padding: {left: 30, right: 10},
        },
        550: {
            type: 'loop',
            grid: {
                rows: 2,
                cols: 1,
                gap: {
                    row: '230px',
                    col: '2px',
                }
            },
            perPage: 1,
            padding: {left: 40, right: 40},
        },
        670: {
            type: 'loop',
            grid: {
                rows: 2,
                cols: 1,
                gap: {
                    row: '250px',
                    col: '50px',
                }
            },
            perPage: 1,
            padding: {left: 10, right: 200},

        }
    },
    padding: {left: 20, right: 20},
    type: 'slide',
    height: '25rem',
    width: '100%',
    interval: 2000,
    pauseOnFocus: true,
    pagination: false,
    drag: true,
    arrows: false,
    
} );
    splide.mount(window.splide.Extensions);
  } );
  </script>
  <div class="spacer">

  </div>
  <div id='grid-container'>
        <div id='container-prj' style="display:flex; justify-content: center;">
  <section class="splide" aria-label="Splide Basic HTML Example">
    <div class="splide__track">
          <ul class="splide__list">
            {featured.map((x) =>
            <li class="splide__slide">
            <div style="height: 100%">
                <div id="container">
                <div id='img-container'>
                        <img class='img' src={images[x]}>
                </div>
                <div id="information-container-projects-flex">
            </div>
            </div>
            </div>
            </li>
            )}
          </ul>
    </div>
  </section>
  </div>
</div>
<div class="spacer">

</div>